<h1>登録ユーザ一覧</h1>

<table class="users">
  <tr>
    <td>User ID</td>
    <td>User Name</td>
    <td>date</td>
    <td>dare2</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.user_name %></td>
    <td><%= user.updated_at %></td>
    <td><%= user.created_at %></td>
  </tr>
  <% end %>
</table>


<h1>アクセスログ</h1>

<table class="accessList">
  <tr>
    <td>User ID</td>
    <td>User Name</td>
    <td>Level</td>
    <td>アクセス時間</td>
    <td>registration_id</td>
  </tr>
  <% @accessList.each do |access| %>
  <tr>
    <td><%= access.user_id %></td>
    <td><%= access.user_name %></td>
    <td><%= access.user_level  %></td>
    <td><%= access.access_time  %></td>
    <td><%= access.transaction_id %></td>
  </tr>
  <% end %>
</table>

<h1>対戦履歴</h1>

<table class="BattleRecords">
  <tr>
    <td>対戦ID</td>
    <td>対戦要求者ID</td>
    <td>対戦応答者ID</td>
    <td>ステータス</td>
  </tr>
  <% @BattleRecords.each do |record| %>
  <tr>
    <td><%= record.id %></td>
    <td><%= record.req_user_id %></td>
    <td><%= record.res_user_id  %></td>
    <td><%= record.battle_status  %></td>
  </tr>
  <% end %>
</table>

<h1>対戦時使用カード</h1>

<table class="BattleRecords">
  <tr>
    <td>ユーザID</td>
    <td>対戦ID</td>
    <td>カードNO</td>
    <td>タイプ</td>
    <td>虫の名前</td>
    <td>属性</td>
    <td>攻撃</td>
    <td>守備</td>
    <td>画像ファイル名</td>
    <td>画像ID</td>
    <td>効果ID</td>
    <td>効果説明</td>
    <td>カード説明</td>
    <td>虫キットID</td>
  </tr>
  <% @cards.each do |card| %>
  <tr>
    <td><%= card.user_id %></td>
    <td><%= card.battle_id %></td>
    <td><%= card.card_num  %></td>
    <td><%= card.cardtype  %></td>
    <td><%= card.beetle_name  %></td>
    <td><%= card.cardattr  %></td>
    <td><%= card.attack  %></td>
    <td><%= card.defense  %></td>
    <td><%= card.image_file_name  %></td>
    <td><%= card.image_id  %></td>
    <td><%= card.effect_id  %></td>
    <td><%= card.effect  %></td>
    <td><%= card.intro  %></td>
    <td><%= card.beetlekit_id  %></td>
  </tr>
  <% end %>
</table>


<h1>ターン毎の選択カード</h1>

<table class="BattleRecords">
  <tr>
    <td>対戦ID</td>
    <td>選択ユーザID</td>
    <td>ターン</td>
    <td>カードNo</td>
  </tr>
  <% @selectedCards.each do |scard| %>
  <tr>
    <td><%= scard.battle_id %></td>
    <td><%= scard.user_id  %></td>
    <td><%= scard.turn_num  %></td>
    <td><%= scard.card_num %></td>
  </tr> 
  <% end %>
</table>



